header figure {
    width: 300px;
    height: 48px;
    margin-top: 70px;
}

.header--title-container h1 {
    font-size: 2.7rem;
}
.header--title-container p {
    font-size: 1.6rem;
}

.main-entpr-invsr-container h2 {
    font-size: 2.6rem;
}
.main-entpr-invsr-container .main-entpr-invsr-container--title p {
    font-size: 1.6rem;
}

.product-detail--title h2 {
    font-size: 2.6rem;
}
.product-detail--title p {
    font-size: 1.6rem;
}
.product--card-title {
    font-size: 2rem;
}
.product--card-body {
    font-size: 1.5rem;
}

.entrepreneurs-img-container h2 {
    font-size: 2.6rem;
}
.entrepreneurs-img-container a {
    position: relative;
    top: 280px;
    font-size: 2rem;
}
.main-tables-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-right: 0;
    align-self: center;
    background-color: #e2e7ff;
}
.main-entpr-stars-table, .main-entpr-money-table, .main-invsr-money-table {
    width: 100%;
    min-width: 235px;
    max-width: 800px;
    height: 360px;
    margin: 0 auto;
    margin-left: 0;
    font-family: "Inter", sans-serif;
    scroll-snap-align: center;
}
.entpr-stars-table--container, .entpr-money-table--container, .invsr-money-table--container {
    width: 100%;
    min-width: 230px;
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
}

.footer--section-logo-info .footer--logo {
    width: 225px;
}
.footer--section-logo-info .footer--logo-info {
    font-size: 1.7rem;
}
.footer--section-logo-info .footer--social-media {
    height: 130px;
}
.footer--section-logo-info .footer--social-media p {
    font-size: 1.6rem;
}
.footer--s-m-l a img {
    width: 22px;
    height:  22px;
}