.container {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas:   /* acá irán las secciones que les daremos a cada item de nuestra grilla y su orden (los nombres de las secciones no necesariamente tienen que ser los de las etiquetas html) */
        "header header header"
        "side main main"
        "side main main";
    place-content: center;
}

.item {
    font-size: 4rem;
}

.item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-area: header; /* este item cubrirá toda la sección con el nombre header, es decir, los tres items de arriba */
}

.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-area: side; /* este item cubrirá toda la sección con el nombre side, es decir, los dos items del costado izquierdo */
}

.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    grid-area: main; /* este item cubrirá toda la sección con el nomre main, es decir, de 2 / 2 a 4 / 4 */
}